<div class="about-content">
  <h2>About TaskTrek</h2>
  <p>
    TaskTrek is a modern and intuitive web application for task management,
    developed using Angular. It allows you to effectively organize your tasks,
    track progress, and stay productive.
  </p>
  <p>
    This project demonstrates the use of Angular Standalone Components, Reactive
    Forms, dynamic routing, and interaction with a remote API for data storage.
  </p>

  <h3>Developer</h3>
  <p>
    My name is Oksana. I am a frontend developer with a passion for creating
    clean, efficient, and user-friendly web applications. This project is part
    of my portfolio and showcases my skills in Angular and related technologies.
  </p>
  <p>You can find more of my projects and learn about me here:</p>
  <ul>
    <li>
      <a href="https://github.com/Opokhvalenko/" target="_blank">My GitHub</a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/oksana-pokhvalenko-0a4170320/"
        target="_blank"
        >My LinkedIn</a
      >
    </li>
  </ul>
</div>
